.outer-container {
  display: block;
  position: fixed;
  width: auto;

  top: 0;
  right: 0;
  height: 100%;
  z-index: 1001;
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.16);
  transition: right 0.25s;
}

.outer-container[data-show="false"] {
  right: -20rem;
}

header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--neutra-800);
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-between;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
}

header .title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--neutra-50);
}

header button {
  color: var(--neutra-50);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  inset: 0;
}

.container {
  width: 20rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.25s;
  background-color: var(--neutra-50);
}

.label {
  font-size: 0.875rem;
  color: var(--neutra-800);
  font-weight: 600;
}

.field {
  font-size: 1rem;
  padding-inline: 0.5rem;
  color: var(--neutra-700);
}

form {
  padding-inline: 1.5rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 1rem;
}

fieldset {
  border: none;
  border-radius: var(--rounded-1);
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.field-group {
  display: grid;
  gap: 0.25rem;
}

.fieldset-container {
  display: grid;
  gap: 1.5rem;
  margin-block: 1rem;
}

.child-fieldset-container {
  display: grid;
  gap: 1rem;
  padding-left: 1rem;
  border-left: 4px solid var(--neutra-400);
}

.error-message {
  padding-inline: 1.5rem;
  line-height: 1.2;
  color: var(--danger);
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  height: 2.5rem;
  padding-inline: 0.5rem;
  border: 1px solid var(--neutra-400);
  border-radius: var(--rounded-1);
  background-color: transparent;
}

input:focus,
select:focus {
  border-color: var(--accent);
  border-width: 3px;
  outline: none;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: var(--danger);
  border-width: 4px;
}

.btn-add {
  height: 2.5rem;
  width: 100%;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  background-color: var(--neutra-700);
  color: var(--neutra-base);
  border-radius: var(--rounded-1);
}

.btn-add:hover {
  opacity: 0.9;
}

.btn-remove {
  height: 2rem;
  width: 100%;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  background-color: var(--neutra-100);
  color: var(--neutra-800);
  border-radius: var(--rounded-1);
}

.btn-remove:hover {
  background-color: var(--neutra-200);
}
