@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");

body {
  margin: 0;
}

:root {
  --font-sans: "Inter", sans-serif;

  --accent: #2563eb;

  --accent-light: #60a5fa;

  --danger: #b91c1c;
  --success: #047857;

  --neutra-800: #0f172a;
  --neutra-700: #1e293b;
  --neutra-600: #334155;
  --neutra-500: #475569;
  --neutra-200: #cbd5e1;
  --neutra-100: #e2e8f0;

  --neutra-50: #f8fafc;
  --neutra-base: #fff;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-24: 6rem;
  --spacing-full: 100%;

  --rounded-1: 0.25rem;
  --rounded-2: 0.5rem;
  --rounded-4: 1rem;
  --rounded-full: 9999px;
}

app-root {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-sans);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: inherit;
}

*:not(text),
*::after,
*::before {
  font-size: inherit;
}

*:not(.material-symbols-rounded) {
  font-family: var(--font-sans);
}

li,
summary {
  list-style-type: none;
}

button,
summary {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.hfg\:mask-rectangle {
  mask-image: url(./assets/shapes/rectangle.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.hfg\:mask-ellipse {
  mask-image: url(./assets/shapes/ellipse.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.hfg\:bg-grid {
  background-image: url(./assets/shapes/grid.svg);
  background-repeat: repeat;
}
