<section>
  <ul>
    <li>
      <button>
        <span class="material-symbols-rounded" aria-hidden="true">
          note_add
        </span>
        <span>New</span>
      </button>
    </li>
    <li>
      <button aria-controls="4834e40a-4971-47f9-a50c-5651d86e9823">
        <span class="material-symbols-rounded" aria-hidden="true">
          file_open
        </span>
        <span>Load</span>
      </button>
      <ul id="4834e40a-4971-47f9-a50c-5651d86e9823">
        
      </ul>
    </li>
    <li>
      <button>
        <span class="material-symbols-rounded" aria-hidden="true">
          disabled_by_default
        </span>
        <span>Clear</span>
      </button>
    </li>
  </ul>
</section>
