<section class="container" [attr.data-collapsed]="!!(collapsed$ | async)">
  <div class="collapse-leiaute">
    <button
      class="btn-collapse"
      aria-label="collapse panel"
      (click)="collapsed$.next(!collapsed$.value)"
      title="Toggle sidebar"
    >
      <span
        aria-hidden="true"
        class="material-symbols-rounded"
        data-show="collapsed"
        >expand_content</span
      >
      <span
        aria-hidden="true"
        class="material-symbols-rounded"
        data-show="not-collapsed"
      >
        collapse_content
      </span>
    </button>
  </div>

  <section>
    <h2 class="section-title">
      <span data-show="not-collapsed">ACTIONS</span>
    </h2>
    <div class="actions-group">
      <button class="btn-action" title="Create new workflow">
        <span class="material-symbols-rounded icon" aria-hidden="true">
          note_add
        </span>
        <span>New</span>
      </button>
      <button class="btn-action" title="Clear workflow">
        <span class="material-symbols-rounded icon" aria-hidden="true">
          disabled_by_default
        </span>
        <span>Clear</span>
      </button>
    </div>
  </section>

  <section>
    <h2 class="section-title">
      <span data-show="not-collapsed">TOOLBAR</span>
      <button
        class="btn-action"
        data-show="collapsed"
        title="Open toolbar"
        (click)="collapsed$.next(false)"
      >
        <span class="material-symbols-rounded" aria-hidden="true">
          home_repair_service
        </span>
      </button>
    </h2>

    <ul
      *ngIf="supportedTasks$ | async as supportedTasks"
      class="tasks-group"
      data-show="not-collapsed"
    >
      <ng-container *ngIf="selectedTask$ | async as selectedTask">
        <li *ngFor="let task of supportedTasks">
          <button
            class="btn-task"
            [ngClass]="['hfg:mask-' + task.shape]"
            [attr.aria-current]="task.name === selectedTask.name"
            (mousedown)="toggleTask(task.name)"
          >
            <span>
              {{ task.name }}
            </span>
          </button>
        </li>
      </ng-container>
    </ul>
  </section>
</section>
