:host {
  display: block;
  position: fixed;
  width: auto;

  top: 6rem;
  left: 0;
  height: calc(100% - 6rem);
  z-index: 999;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.16);
}

.container {
  width: 15rem;
  height: 100%;
  padding: 0.5rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.25s;
  background-color: var(--neutra-base);

  --color-text: var(--neutra-700);
  --color-bg: var(--neutra-base);
  --color-bg-hover: var(--neutra-100);
}

.container[data-collapsed="true"] {
  width: 2.5rem;
  background-color: var(--neutra-700);
  --color-text: var(--neutra-50);
  --color-bg: var(--neutra-700);
  --color-bg-hover: var(--neutra-800);
}

.collapse-leiaute {
  display: flex;
  justify-content: flex-end;
}

.btn-collapse {
  padding: 0.5rem;
  color: var(--color-text);
  border-radius: var(--rounded-full);
}

.btn-collapse:hover {
  background-color: var(--color-bg-hover);
}

[data-collapsed="false"] [data-show="collapsed"] {
  display: none;
}

[data-collapsed="true"] [data-show="not-collapsed"] {
  display: none;
}

.section-title {
  background-color: var(--neutra-700);
  color: var(--neutra-base);
  display: flex;
  font-weight: 500;
  height: 2.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.btn-action {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.375rem;
  gap: 1rem;
  width: 100%;
  color: var(--color-text);
}

.btn-action:hover {
  background-color: var(--color-bg-hover);
}

.tasks-group {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 6rem 6rem;
  justify-content: center;
  gap: 1.25rem;
}

.btn-task {
  width: 100%;
  height: 3rem;
  width: 6rem;
  background-color: var(--neutra-100);
  color: var(--neutra-800);
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}

.btn-task:hover {
  background-color: var(--neutra-200);
}

.btn-task[aria-current="true"] {
  background-color: var(--accent-light);
}
